<html>
  <form action="/links" method="post">
    Name:<input type="text" name="name">
    URL:<input type="text" name="url">
    Tag:<input type="text" name="tag">
    <input type="submit" value="Add Bookmark">
  </form>
</html>
