<html>
  <form action="/links" method="post">
    Name:<input type="text" name="name">
    URL:<input type="text" name="url">
    Tags:<input type="text" name="tags">
    (Tags are seperated by comma and space)
    <input type="submit" value="Add Bookmark">
  </form>
</html>
